body {
    direction: rtl;
    text-align: right;
    font-family: "SBL Hebrew", "Ezra SIL", "Hillel", sans-serif;
    line-height: 1.6;
}

p {
    margin-bottom: 1em;
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: right;
    margin-top: 1.5em;
    break-after: avoid;
}

code {
    direction: ltr;
    display: inline-block;
}

blockquote {
    border-right: 4px solid #ccc;
    margin-right: 0;
    padding-right: 1em;
    color: #666;
}